*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(71, 55, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
}
.main label{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}